.App {
	text-align: center;
/*	font-size: 35px;*/
	margin-top: 20%;
}

body{
	margin: 0;
	background-color: #212121;
	color: #fff;
	font-family: 'Roboto', 'sans-serif';
}
.title{
	font-size: 3em;
	margin-bottom: .5em;
	padding-left: .5em;
	padding-right: .5em;
	text-align: center;

}

.time-wrapper{
	padding-left: .5em;
	padding-right: .5em;
}
.clock-days, .clock-hours, .clock-minutes, .clock-seconds {
	display: inline;
	margin: 5px;
}

@media only screen and (min-device-width : 320px) and (max-device-width : 480px) {
.date-wrapper{
	display: block;
	font-size: .6em;

}
.title{
		margin-bottom: 1em;
}


}
